* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  box-sizing: border-box;
}
body {
  background: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 50px auto 50px;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  outline: 0;
  border: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 15px;
  margin: 2px;
}

.search button img {
  width: 24px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind,
.visibility,
.pressure {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
}
.description {
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .search input {
    height: 45px;
    max-width: 165px;
    font-size: 16px;
  }
  .search button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  .search button img {
    width: 16px;
  }
  .weather-icon {
    width: 140px;
    margin-top: 15px;
  }

  .weather h1 {
    font-size: 55px;
    font-weight: 500;
  }

  .weather h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px;
  }
  .weather h3 {
    font-size: 18px;
  }
  .weather h4 {
    font-size: 16px;
  }
  .col img {
    width: 30px;
  }

  .humidity,
  .wind,
  .visibility,
  .pressure {
    font-size: 18px;
  }

  .popup {
    max-width: 100%;
  }
}
.info {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: right;
  padding: 10px 10px 0px;

  #infoBtn {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2%;
  max-width: 95%;
  border-radius: 5px;
  ul {
    margin-top: 2%;
    padding: 5%;
    li {
      padding: 2% 0;
      margin-left: 3%;
      list-style: none;
    }
    font-size: 0.75rem;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

body {
  overflow: hidden;
  height: auto;
}

body.loaded {
  overflow: visible;
}

.preloader.loaded {
  display: none;
}

/* Preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(77, 136, 151);
  display: grid;
  place-items: center;
  z-index: 6;
}

.preloader.loaded {
  display: none;
}

.preloader-circle {
  width: 60px;
  height: 60px;
  border: 8px solid transparent;
  border-block-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}
